/* PAGE styling */
:root {
	--primary-dark: #444;
	--primary-light:  #ededed;
	--secondary-light: #fefefe;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	min-height: 100%;
}


/* HEADER */

.header {
	text-align: center;
}

/* MAIN */

.body {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
	border: 2px dotted grey ;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid brown;
	gap: 1.5rem;
	max-width: 150px;
}

/* BUTTONS */

button {
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	width: 100%;
}

button.active{
	background-color: #444;
	color:white;
}

button,
input[type='color'] {
	transition: transform .1s ease-in-out;
}

button:hover,
input[type='color']:hover {
	transform: scale(1.05);
}

input[type='color']:active {
	transition: transform 0.05s ease-in-out;
	transform: scale(1);
}

input[type='color'] {
	-webkit-appearance: none;
	width: 80px;
	height: 50px;
	border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size-value {
	margin-bottom: -20px;
	font-size: 20px;
}

/* GRID */

#gridbox {
	display: grid;
	width: 500px;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--secondary-light);
	border: 1px solid blue;
}

.grid-cell {
	user-select: none;
}
