/* PAGE styling */
:root {
	--primary-dark: #444;
	--primary-light:  #ededed;
	--secondary-light: #fefefe;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	min-height: 100%;
}


/* HEADER */

.header {
	text-align: center;
	padding-bottom: 2rem;
	padding-left: 200px;
}

/* MAIN */

.body {
	display: flex;
	max-width: 1100px;
	margin: auto;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
	gap: 1.5rem;
	max-width: 150px;
}

/* BUTTONS */

button {
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
	width: 100%;
}

button.active{
	background-color: #444;
	color:white;
}

button,
input[type='color'] {
	transition: transform .1s ease-in-out;
}

button:hover,
input[type='color']:hover {
	transform: scale(1.05);
}

input[type='color']:active {
	transition: transform 0.05s ease-in-out;
	transform: scale(1);
}

input[type='color'] {
	-webkit-appearance: none;
	width: 80px;
	height: 50px;
	border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size-value {
	margin-bottom: -20px;
	font-size: 20px;
}

/* GRID */

#gridbox {
	display: grid;
	width: 500px;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--secondary-light);
}

.grid-cell {
	user-select: none;
}



/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1rem;
}

#anchor {
    text-decoration: none;
    padding: 0px 2px;
    
}
.fab {
    transition: transform 0.3s ease-in-out;
}
.fab:hover {
    transform: rotate(360deg)scale(1.2);
}


/* MEDIA QUERIES */

@media only screen and (max-height: 680px) {
	footer {
		position: relative;
		margin: 2rem 0 0 0;
	};

}

@media only screen and (max-width: 860px) {

	.header {
		padding-left: 0;
		padding-bottom: 1rem;
	}

	.body {
		flex-direction: column-reverse;
		max-width: 800px;
	}

	#gridbox {
		width: 400px;
		height: 400px;
	}


	footer {
		position: relative;
		margin: 2rem 0 0 0;
	};
}

@media only screen and (max-width: 650px) {

	.header {
		padding-left: 0;
		padding-bottom: 1rem;
	}

	.body {
		flex-direction: column-reverse;
		max-width: 600px;
		gap: 1rem;
	}

	#gridbox {
		width: 300px;
		height: 300px;
	}


	footer {
		position: relative;
		margin: 1rem 0 0 0;
	};
}