/* PAGE styling */
html {
	min-height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.header {
	text-align: center;
}

.body {
	display: flex;
	width: 60%;
	margin: auto;
	border: 2px dotted grey ;
}


/* BUTTONS */
.buttons {
	display: flex;
	flex-direction: column;
	border: 1px solid brown;
	gap: 2rem;
	max-width: 150px;
}

#sizeValue {
	align-self: center;
}



/* GRID */

#gridbox {
	display: grid;
	width: 500px;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-cell {
	user-select: none;
}
